<!DOCTYPE html>
<html>
<head>
    <title>About This Wiki</title>
</head>
<body>
        
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/pages">Pages</a>
        
    <h3>About this Wiki</h3>
    <p>This wiki is a fan-made guide to the characters from the popular video game series 
        Super Smash Bros. It contains information on each character's powers and a bit of 
        their background</p>

    <h3>Your Authors</h3>
    <p>Our team consists of:</p>
    <ul>
        {% for author in authors_list %}
            {% if author %}
            
            <li><img src="data:image/png;base64,{{ author }}" alt="Author"></li>
            {% endif %}
        {% endfor %}
    </ul>
    

</body>
</html>
