<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 {% block head %} {% endblock %}
</head>
<body>
    <a href="/">Home</a>
    <a href="/pages">Pages</a>
    <a href="/about">About</a>
    
    {% if active is true %}
    
    <a>| {{name}} |</a>
    <a href="/upload">Upload</a>
    <a href="/logout">Log Out</a>
    
    {% else %}
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>
        
    {% endif %}
    {% block body %}

    {% endblock %}

</body>
</html>

