{% extends 'base.html' %}

{% block head %} <title>NewBieS Page</title> {% endblock %}


{% block body %}
{% for message in get_flashed_messages() %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
        {% endfor %}
<!-- Search Bar -->
<form method="POST">
    <input type="text" name="query" placeholder="Search..." maxlength="256">
    <input type="submit" value="Search">
</form>

<!-- for testing -->
<p> Your query: {{ query }}</p>
 <div> Welcome to Smash Bros </div>
 {% endblock %}