{% extends 'base.html' %}
{% block head %} <title>Pages List</title> {% endblock %}

{% block body %}

    <h3>Pages contained in this Wiki</h3>
    <select id="world-select" onchange="location = this.value;">
    {% for world in worlds %}
        <option value="{{ url_for('pages', world=world) }}" 
                {% if world == selected_world %}selected{% endif %}>
        {{ world }}
        </option>
    {% endfor %}
    </select>

    
    <div id="characters_list"></div>
    
    <ul>
        {% for page_name in name_list %}
            {% if page_name %}
            <li><a href="/pages/{{ page_name }}">{{ page_name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
