{% extends 'base.html' %}
{% block head %} <title>{{ character_name }}</title> {% endblock %}

{% block body %}

    <h1>{{ character_name}} </h1>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <form method="POST">    
        <input type=submit value=Upvote>
    </form>
    <h3>World: {{ world }}</h3>  <!-- Add world information to the page -->
    <img src="data:image/png;base64, {{ page_image }}" alt="{{ character_name }} image">
    <p>{{ description }}</p>

{% endblock %}
